@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none; /* Убирает маркеры */
  padding: 0; /* Убирает внутренние отступы */
  margin: 0; /* Убирает внешние отступы */
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: black;
}

.wrapper {
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

.header {
  position: fixed;
  display: flex;
  width: 100vw;
  background-color: rgb(228, 48, 113);
  height: 101px;
  transition: height 0.3s ease;
  z-index: 999;
}
@media (max-width: 1004.89px) {
  .header {
    height: 64px;
  }
}
.header__container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 41px 0 36px;
}
.header__block {
  display: flex;
  width: 100%;
  gap: 76px;
  padding-bottom: 26px;
  align-self: center;
  margin-top: auto;
}
@media (max-width: 1200.89px) {
  .header__block {
    gap: 30px;
  }
}
@media (max-width: 1004.89px) {
  .header__block {
    padding-bottom: 15.54px;
    gap: 15px;
  }
}
.header__menu {
  width: 100%;
  display: flex;
  gap: 100px;
}
@media (max-width: 1054.89px) {
  .header__menu {
    gap: 50px;
  }
}
@media (max-width: 1004.89px) {
  .header__menu {
    flex-direction: column;
    gap: 10px;
  }
}
.header__actyv {
  margin-left: auto;
  transition: opacity 0.3s ease;
}

.menu__logo {
  margin-top: auto;
}
@media (max-width: 1004.89px) {
  .menu__logo-item {
    width: 102px;
    height: 28px;
  }
}
.menu__navigation {
  display: flex;
  max-width: 643px;
  width: 100%;
  margin-left: auto;
  transition: opacity 0.3s ease;
}
@media (max-width: 1004.89px) {
  .menu__navigation {
    display: none;
    max-width: 1000px;
  }
}
.menu__nav {
  display: flex;
  width: 100%;
  gap: 76px;
  flex: 1;
  justify-content: space-between;
  padding-top: 19.4px;
  padding-bottom: 13px;
  margin-left: auto;
}
@media (max-width: 1344.89px) {
  .menu__nav {
    gap: 60px;
  }
}
@media (max-width: 1280.89px) {
  .menu__nav {
    gap: 40px;
  }
}
@media (max-width: 1200.89px) {
  .menu__nav {
    gap: 30px;
  }
}
@media (max-width: 1116.89px) {
  .menu__nav {
    gap: 15px;
  }
}
@media (max-width: 1004.89px) {
  .menu__nav {
    flex-direction: column;
  }
}
.menu__nav-item {
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 17.52px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.actyv {
  display: flex;
  gap: 11.7px;
}
@media (max-width: 1004.89px) {
  .actyv {
    flex-direction: column;
    gap: 40px;
  }
}
.actyv__container {
  display: flex;
  flex-direction: row;
  gap: 11.7px;
}
.actyv__search {
  display: flex;
}
.actyv__login {
  width: 166px;
  height: 50px;
  top: 25px;
  left: 1233px;
  padding: 16px 0 16px 0;
  border-radius: 200px;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 17.52px;
  text-align: center;
  cursor: pointer;
  color: rgb(228, 48, 113);
  border-radius: 40px;
  border: 2px solid rgb(228, 48, 113);
  border-color: rgb(228, 48, 113);
}
@media (max-width: 1004.89px) {
  .actyv__login {
    display: none;
    width: 120px;
  }
}
.actyv__login:hover {
  border-color: rgb(190, 40, 94);
  color: rgb(190, 40, 94);
}

.search__form {
  display: flex;
  gap: 6px;
  padding-top: 5px;
}
.search__input {
  max-width: 60px;
  background-color: rgb(228, 48, 113);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 17.52px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: opacity 0.3s ease;
}
@media (max-width: 1004.89px) {
  .search__input {
    display: none;
  }
}
.search__button {
  background-color: rgb(228, 48, 113);
}

.menu-button {
  display: none;
  background-color: rgb(228, 48, 113);
}
@media (max-width: 1004.89px) {
  .menu-button {
    display: flex;
  }
}
.menu-button__items {
  display: flex;
  flex-direction: column;
  gap: 4.76px;
  padding-top: 5px;
}
.menu-button__icon {
  background-color: rgb(228, 48, 113);
}

.actyv__login.active {
  display: block !important;
  opacity: 1;
}

.search__input.active {
  display: flex !important;
  opacity: 1;
}

.menu__navigation.active {
  display: flex !important;
  opacity: 1;
}

.main {
  position: relative;
  top: 101px;
}
@media (max-width: 1004.89px) {
  .main {
    top: 64px;
  }
}

.welcome__container {
  position: relative;
  max-width: 1440px;
  height: 691px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  z-index: 0;
}
.welcome__container::after {
  content: url(/img/main/Path\ 2.png);
  position: absolute;
  bottom: -10px;
  width: 100%;
  max-width: 1440px;
  height: 34px;
}
@media (max-width: 1004.89px) {
  .welcome__container::after {
    max-width: 1004.89px;
    width: 100%;
  }
}
@media (max-width: 1004.89px) {
  .welcome__container {
    height: 424px;
  }
}
.welcome__title {
  display: flex;
  align-self: center;
}

.slider {
  position: absolute;
  width: 1440px;
  height: 691px;
  overflow: hidden;
  z-index: -1;
}
@media (max-width: 1004.89px) {
  .slider {
    width: 1004.89px;
    height: 424px;
  }
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 7200px;
}
@media (max-width: 1004.89px) {
  .slides {
    width: 5024.45px;
  }
}

.slides img {
  width: 1440px;
  height: 691px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 1004.89px) {
  .slides img {
    width: 1004.89px;
    height: 424px;
  }
}

.dots {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(228, 48, 113);
  width: 17px;
  height: 17px;
}

.welcome-title__container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.welcome-title__text {
  font-size: 70px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media (max-width: 1004.89px) {
  .welcome-title__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
}
.welcome-title__button {
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 237px;
  height: 68px;
  border-radius: 38.5px;
  background-color: rgb(228, 48, 113);
  cursor: pointer;
}
@media (max-width: 1004.89px) {
  .welcome-title__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    width: 208px;
    height: 56px;
  }
}
.welcome-title__button:hover {
  background-color: rgb(190, 40, 94);
}

.lyfe {
  color: rgb(228, 48, 113);
}

.meet {
  width: 100vw;
}
.meet__container {
  width: 100%;
  max-width: 1440px;
  padding: 94.44px 140px 122px 141px;
  margin: 0 auto;
}
@media (max-width: 1004.89px) {
  .meet__container {
    padding: 35px 35px 23px 16px;
  }
}
.meet__block {
  display: flex;
  width: 100%;
  max-width: 1159px;
  min-height: 503px;
  margin: 0 auto;
}
@media (max-width: 1004.89px) {
  .meet__block {
    flex-direction: column;
    gap: 79px;
  }
}

.block-meet {
  position: relative;
}
.block-meet__images {
  min-width: 480px;
}
@media (max-width: 1004.89px) {
  .block-meet__images {
    margin: 0 auto;
    width: 322px;
  }
}
.block-meet__img1 {
  width: 347px;
  height: 399px;
}
@media (max-width: 1004.89px) {
  .block-meet__img1 {
    width: 176px;
    height: 248px;
  }
}
.block-meet__img2 {
  position: absolute;
  top: 144px;
  left: 199px;
  width: 241px;
  height: 359px;
}
@media (max-width: 1004.89px) {
  .block-meet__img2 {
    position: relative;
    width: 146px;
    height: 218px;
    top: 95px;
    left: -116px;
  }
}
.msg-meet {
  margin-left: auto;
  max-width: 540px;
  align-self: center;
}
@media (max-width: 1004.89px) {
  .msg-meet {
    margin: 0 auto;
  }
}
.msg-meet__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(228, 48, 113);
  padding-bottom: 6px;
}
@media (max-width: 1004.89px) {
  .msg-meet__title {
    line-height: 48px;
  }
}
.msg-meet__text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  color: rgb(66, 66, 66);
  padding-bottom: 30px;
}
@media (max-width: 1004.89px) {
  .msg-meet__text {
    line-height: 32px;
  }
}
.msg-meet__button {
  width: 237px;
  height: 68px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  border-radius: 38.5px;
  border: 2px solid rgb(228, 48, 113);
  color: rgb(228, 48, 113);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.msg-meet__button:hover {
  border: 2px solid rgb(190, 40, 94);
  color: rgb(190, 40, 94);
}

.become__container {
  position: relative;
  max-width: 1440px;
  height: 691px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  z-index: 0;
}
@media (max-width: 1004.89px) {
  .become__container {
    height: 424px;
  }
}
.become__title {
  display: flex;
  align-self: center;
}

.become-title {
  display: flex;
  align-self: center;
}
.become-title__container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 0 31px 0 31px;
}
.become-title__text {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media (max-width: 1004.89px) {
  .become-title__text {
    font-size: 42.46px;
    font-weight: 700;
    line-height: 46.37px;
  }
}
.become-title__text2 {
  max-width: 430px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  line-height: 23.15px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media (max-width: 1004.89px) {
  .become-title__text2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
  }
}
.become-title__button {
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 237px;
  height: 68px;
  border-radius: 38.5px;
  background-color: rgb(228, 48, 113);
  cursor: pointer;
}
@media (max-width: 1004.89px) {
  .become-title__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    width: 208px;
    height: 56px;
  }
}
.become-title__button:hover {
  background-color: rgb(190, 40, 94);
}

.slider-become {
  position: absolute;
  width: 1440px;
  height: 691px;
  overflow: hidden;
  z-index: -1;
}
@media (max-width: 1004.89px) {
  .slider-become {
    width: 1004.89px;
    height: 424px;
  }
}

.slides-become {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 7200px;
}
@media (max-width: 1004.89px) {
  .slides-become {
    width: 5024.45px;
  }
}

.slides-become img {
  width: 1440px;
  height: 691px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 1004.89px) {
  .slides-become img {
    width: 1004.89px;
    height: 424px;
  }
}

.dots-become {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
  align-items: center;
}

.dot-become {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dot-become.active {
  background-color: rgb(228, 48, 113);
  width: 17px;
  height: 17px;
}

.premium {
  width: 100vw;
}
.premium__container {
  width: 100%;
  max-width: 1440px;
  padding: 224px 79px 108px 155px;
  margin: 0 auto;
}
@media (max-width: 1004.89px) {
  .premium__container {
    padding: 35px 35px 23px 16px;
  }
}
.premium__block {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1206px;
  min-height: 435px;
  margin: 0 auto;
}
@media (max-width: 1004.89px) {
  .premium__block {
    flex-direction: column;
    gap: 16px;
  }
}

.block-premium {
  position: relative;
}
.block-premium__images {
  position: absolute;
  right: 0px;
  min-height: 435px;
  min-width: 480px;
}
@media (max-width: 1004.89px) {
  .block-premium__images {
    position: relative;
    min-height: 198px;
    margin: 0 auto;
    width: 322px;
  }
}
.block-premium__img1 {
  position: absolute;
  width: 444px;
  height: 296px;
  right: 128px;
  z-index: 1;
}
@media (max-width: 1004.89px) {
  .block-premium__img1 {
    right: 0;
    position: relative;
    width: 202px;
    height: 135px;
  }
}
.block-premium__img2 {
  position: absolute;
  top: 154px;
  width: 422px;
  height: 281px;
  right: 0;
  z-index: 0;
}
@media (max-width: 1004.89px) {
  .block-premium__img2 {
    position: relative;
    width: 191px;
    height: 128px;
    top: 70px;
    left: -116px;
  }
}
.msg-premium {
  max-width: 489px;
  align-self: center;
  margin-right: 620px;
}
@media (max-width: 1004.89px) {
  .msg-premium {
    margin: 0 auto;
  }
}
.msg-premium__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(228, 48, 113);
  padding-bottom: 6px;
}
@media (max-width: 1004.89px) {
  .msg-premium__title {
    line-height: 48px;
  }
}
.msg-premium__text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  color: rgb(66, 66, 66);
  padding-bottom: 30px;
}
@media (max-width: 1004.89px) {
  .msg-premium__text {
    line-height: 32px;
  }
}
.msg-premium__button {
  width: 100%;
  max-width: 237px;
  height: 68px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  border-radius: 38.5px;
  border: 2px solid rgb(228, 48, 113);
  color: rgb(228, 48, 113);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.msg-premium__button:hover {
  border: 2px solid rgb(190, 40, 94);
  color: rgb(190, 40, 94);
}

.stories {
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(244, 227, 233) 100%);
}
.stories__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.stories__block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0 auto;
  padding: 126px 254px 81px 254px;
}
@media (max-width: 1333.89px) {
  .stories__block {
    padding: 126px 0px 81px 0px;
    width: 682px;
  }
}
@media (max-width: 1004.89px) {
  .stories__block {
    padding: 55px 0 38px 28px;
    width: 100%;
  }
}
.msg {
  margin-right: 290px;
}
@media (max-width: 1004.89px) {
  .msg {
    margin-right: 0;
  }
}
.msg__title {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 57.22px;
  text-align: left;
  color: rgb(66, 66, 66);
}
@media (max-width: 1004.89px) {
  .msg__title {
    font-size: 26.14px;
    line-height: 31.16px;
  }
}
.msg__text {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgb(66, 66, 66);
}
@media (max-width: 1004.89px) {
  .msg__text {
    font-size: 9.8px;
    line-height: 14.7px;
  }
}

.cards {
  margin: 0 auto;
}
@media (max-width: 1004.89px) {
  .cards {
    justify-content: center;
    width: 100vw;
    padding: 10px 0 10px 28px;
    margin: 0 0 0 -28px;
    overflow-y: auto;
  }
}
.cards__block {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media (max-width: 1004.89px) {
  .cards__block {
    flex-direction: row;
  }
}
.cards__items {
  display: flex;
  gap: 33px;
  margin-left: 97px;
}
@media (max-width: 1004.89px) {
  .cards__items {
    width: 828.33px;
    margin: 0 auto;
    align-self: center;
  }
}
.cards__item1 {
  display: flex;
  flex-direction: column;
  max-width: 349px;
  min-width: 290px;
  margin-bottom: 68px;
  justify-content: space-around;
}
@media (max-width: 1004.89px) {
  .cards__item1 {
    margin-bottom: 0;
  }
}
.cards__item2 {
  position: relative;
  margin-top: -141px;
  max-width: 449px;
  min-width: 350px;
}
@media (max-width: 1004.89px) {
  .cards__item2 {
    margin-top: 0;
  }
}
.cards__item3 {
  max-width: 351px;
  min-width: 290px;
}
@media (max-width: 1359.89px) {
  .cards__item3 {
    width: 310px;
    margin-right: 10px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  padding: 35px 32px 36px 27px;
}
@media (max-width: 1004.89px) {
  .item {
    padding: 24.38px 22.29px 25.08px 18.81px;
    min-width: 243.12px;
    max-width: 243.12px;
  }
}
.item__title {
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 600;
  line-height: 45.3px;
  text-align: left;
  color: rgb(228, 48, 113);
  padding-bottom: 29px;
}
@media (max-width: 1004.89px) {
  .item__title {
    font-size: 26.47px;
    line-height: 31.55px;
  }
}
.item__text {
  position: relative;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(66, 66, 66);
  padding-bottom: 12px;
  padding-left: 37px;
}
.item__text::before {
  content: "“";
  position: absolute;
  left: 0px;
  top: -15px;
  font-family: "Times New Roman";
  font-size: 58px;
  font-weight: 700;
  line-height: 66.69px;
  text-align: left;
  color: rgb(248, 197, 215);
}
@media (max-width: 1004.89px) {
  .item__text::before {
    font-size: 40.4px;
    line-height: 46.46px;
  }
}
@media (max-width: 1004.89px) {
  .item__text {
    font-size: 12.54px;
    font-weight: 400;
    line-height: 22.29px;
    padding-left: 25px;
  }
}
.item__profile {
  display: flex;
  gap: 17px;
  padding-left: 37px;
}
@media (max-width: 1004.89px) {
  .item__profile {
    margin-top: auto;
    padding-left: 25px;
  }
}
@media (max-width: 1004.89px) {
  .item__ava {
    width: 41.1px;
    height: 39.71px;
  }
}
.item__msg {
  display: flex;
  flex-direction: column;
}
.item__name {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: rgb(66, 66, 66);
}
@media (max-width: 1004.89px) {
  .item__name {
    font-size: 12.54px;
    line-height: 23.69px;
  }
}
.item__op {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  text-align: left;
  color: rgb(150, 155, 171);
}
@media (max-width: 1004.89px) {
  .item__op {
    font-size: 9.75px;
  }
}

.app {
  width: 100vw;
  background: linear-gradient(180deg, rgb(244, 227, 233) 0%, rgb(237, 237, 237) 100%);
}
.app__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  background-color: rgb(228, 48, 113);
}
.app__block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 45px;
}
@media (max-width: 1004.89px) {
  .app__block {
    flex-direction: column;
    gap: 80px;
    padding: 15px 0 0 15px;
  }
}
.app__massage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 0 auto auto;
  max-width: 489px;
}
@media (max-width: 1004.89px) {
  .app__massage {
    margin: 0 auto;
  }
}
.app__image {
  width: 100%;
  max-width: 634px;
  display: flex;
}
@media (max-width: 1004.89px) {
  .app__image {
    margin: 0 auto;
    max-width: 400px;
  }
}
.app__img1 {
  margin-top: -50px;
}
@media (max-width: 1004.89px) {
  .app__img1 {
    width: 200px;
  }
}
.app__img2 {
  margin-top: auto;
}
@media (max-width: 1004.89px) {
  .app__img2 {
    width: 200px;
  }
}

.massage-app {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.massage-app__msg {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.massage-app__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: rgb(255, 255, 255);
}
@media (max-width: 1004.89px) {
  .massage-app__title {
    line-height: 48px;
  }
}
.massage-app__text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: rgb(255, 255, 255);
}
@media (max-width: 1004.89px) {
  .massage-app__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
  }
}
.links__text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.links__item {
  background-color: rgb(228, 48, 113);
  cursor: pointer;
}
@media (max-width: 1004.89px) {
  .links__img {
    width: 137.39px;
    height: 40.71px;
  }
}

.social {
  width: 100vw;
  background-color: rgb(237, 237, 237);
}
.social__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0 71px 0;
}
.social__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 18px;
}
.social__title {
  display: flex;
  margin: 0 auto;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: rgb(228, 48, 113);
}
.social__links {
  display: flex;
  margin: 0 auto;
}

.links-social__items {
  display: flex;
  gap: 93px;
}
@media (max-width: 1004.89px) {
  .links-social__items {
    gap: 22.5px;
  }
}
.links-social__item {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1004.89px) {
  .links-social__item {
    width: 75px;
    height: 75px;
  }
}
.links-social__img {
  margin: auto;
}
@media (max-width: 1004.89px) {
  .links-social__img {
    width: 20.45px;
    height: 20.45px;
  }
}/*# sourceMappingURL=style.css.map */