@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;600;700&display=swap');
@import "_null";

.header {
	position: fixed;
	display: flex;
	width: 100vw;
	background-color: rgba(228, 48, 113, 1);
	height: 101px;
	transition: height 0.3s ease;
	z-index: 999;
	@media(max-width: 1004.89px){
		height: 64px;
	}

	// .header__container

	&__container {
		display: flex;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		height: 100%;
		padding: 0 41px 0 36px;
	}

	// .header__block

	&__block {
		display: flex;
		width: 100%;
		gap: 76px;
		padding-bottom: 26px;
		align-self: center;
		margin-top: auto;
		@media(max-width: 1200.89px){
			gap: 30px;
		}
		@media(max-width: 1004.89px){
			padding-bottom: 15.54px;
			gap: 15px;
		}
	}

	// .header__menu

	&__menu {
		width: 100%;
		display: flex;
		gap: 100px;
		@media(max-width: 1054.89px){
			gap: 50px;
		}
		@media(max-width: 1004.89px){
			flex-direction: column;
			gap: 10px;
		}
	}

	// .header__actyv

	&__actyv {
		margin-left: auto;
		transition: opacity 0.3s ease;
	}
}
.menu {

	// .menu__logo

	&__logo {
		margin-top: auto;
	}

	&__logo-item{
		@media(max-width: 1004.89px){
			width: 102px;
			height: 28px;
		}
	}

	// .menu__navigation

	&__navigation {
		display: flex;
		max-width: 643px;
		width: 100%;
		margin-left: auto;
		transition: opacity 0.3s ease;
		@media(max-width: 1004.89px){
			display: none;
			max-width: 1000px;
		}
	}

	// .menu__nav

	&__nav {
		display: flex;
		width: 100%;
		gap: 76px;
		flex: 1;
		justify-content: space-between;
		padding-top: 19.40px;
		padding-bottom: 13px;
		margin-left: auto;
		@media(max-width: 1344.89px){
			gap: 60px;
		}
		@media(max-width: 1280.89px){
			gap: 40px;
		}
		@media(max-width: 1200.89px){
			gap: 30px;
		}
		@media(max-width: 1116.89px){
			gap: 15px;
		}
		@media(max-width: 1004.89px){
			flex-direction: column;
		}
	}

	// .menu__nav-item

	&__nav-item {
		text-align: center;
		margin: 0 auto;
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 17.52px;
		color: rgba(255, 255, 255, 1);
		cursor: pointer;
	}
}
.actyv {
	display: flex;
	gap: 11.7px;
	@media(max-width: 1004.89px){
		flex-direction: column;
		gap: 40px;
	}

	// .actyv__container

	&__container {
		display: flex;
		flex-direction: row;
		gap: 11.7px;
	}

	// .actyv__search

	&__search {
		display: flex;
	}

	// .actyv__login

	&__login {
		width: 166px;
		height: 50px;
		top: 25px;
		left: 1233px;
		padding: 16px 0 16px 0;
		border-radius: 200px;
		background-color: rgba(255, 255, 255, 1);
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 17.52px;
		text-align: center;
		cursor: pointer;
		color: rgba(228, 48, 113, 1);
		border-radius: 40px;
		border: 2px solid rgba(228, 48, 113, 1);
		border-color: rgba(228, 48, 113, 1);
		@media(max-width: 1004.89px){
			display: none;
			width: 120px;
		}
		&:hover{
			border-color: rgba(190, 40, 94, 1);
			color: rgba(190, 40, 94, 1);
		}
	}
}
.search {

	// .search__form

	&__form {
		display: flex;
		gap: 6px;
		padding-top: 5px;
	}

	// .search__input

	&__input {
		max-width: 60px;
		background-color: rgba(228, 48, 113, 1);
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 17.52px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		transition: opacity 0.3s ease;
		@media(max-width: 1004.89px){
			display: none;
		}
	}

	// .search__button

	&__button {
		background-color: rgba(228, 48, 113, 1);
	}
}
.menu-button {
	display: none;
	background-color: rgba(228, 48, 113, 1);
	@media(max-width: 1004.89px){
		display: flex;
	}

	// .menu-button__items

	&__items {
		display: flex;
		flex-direction: column;
		gap: 4.76px;
		padding-top: 5px;
	}

	// .menu-button__icon

	&__icon {
		background-color: rgba(228, 48, 113, 1);
	}
}
.actyv__login.active {
	display: block !important; // або block залежно від вашого макета
	opacity: 1;
}
.search__input.active {
	display: flex !important;
	opacity: 1;
}
.menu__navigation.active {
	display: flex !important; // або block, залежно від вашого макета
	opacity: 1;
}

.main{
	position: relative;
	top: 101px;
	@media(max-width: 1004.89px){
		top: 64px;
	}

}
.welcome {

	// .welcome__container

	&__container {
		position: relative;
		max-width: 1440px;
		height: 691px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		z-index: 0;
		&::after{
			content: url(/img/main/Path\ 2.png);
			position: absolute;
			bottom: -10px;
			width: 100%;
			max-width: 1440px;
			height: 34px;
			@media(max-width: 1004.89px){
				max-width: 1004.89px;
				width: 100%;
			}
		}
		@media (max-width: 1004.89px){
			height: 424px;
		}
	}

	// .welcome__title

	&__title {
		display: flex;
		align-self: center;
	}
}
.slider {
	position: absolute;
	width: 1440px;
	height: 691px;
	overflow: hidden;
	z-index: -1;
	@media (max-width: 1004.89px){
		width: 1004.89px;
		height: 424px;
	}
}
.slides {
	display: flex;
   transition: transform 0.5s ease-in-out;
   width: calc(1440px * 5);
	@media (max-width: 1004.89px){
		width: calc(1004.89px * 5);
	}
}
.slides img {
	width: 1440px;
   height: 691px;
   object-fit: cover;
   flex-shrink: 0;
	@media (max-width: 1004.89px){
		width: 1004.89px;
      height: 424px;
	}
}
.dots {
	position: absolute;
   bottom: 29px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 10px;
	z-index: 1;
	align-items: center;
}
.dot {
	width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: gray;
   cursor: pointer;
}
.dot.active {
	background-color: rgba(228, 48, 113, 1);
	width: 17px;
   height: 17px;
}
.welcome-title {

	// .welcome-title__container

	&__container {
		display: flex;
		gap: 8px;
		flex-direction: column;
	}

	// .welcome-title__text

	&__text {
		font-size: 70px;
		font-weight: 700;
		line-height: 77px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		@media(max-width: 1004.89px){
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
		}
	}

	// .welcome-title__button

	&__button {
		margin: 0 auto;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 37px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		width: 237px;
		height: 68px;
		border-radius: 38.5px;
		background-color: rgba(228, 48, 113, 1);
		cursor: pointer;
		@media(max-width: 1004.89px){
			font-size: 16px;
			font-weight: 600;
			line-height: 37px;
			width: 208px;
			height: 56px;
		}
		&:hover{
			background-color: rgba(190, 40, 94, 1);
		}
	}
}
.lyfe{
	color: rgba(228, 48, 113, 1);
}

.meet {
	width: 100vw;

	// .meet__container

	&__container {
		width: 100%;
		max-width: 1440px;
		padding: 94.44px 140px 122px 141px;
		margin: 0 auto;
		@media(max-width: 1004.89px){
			padding: 35px 35px 23px 16px;
		}
	}

	// .meet__block

	&__block {
		display: flex;
		width: 100%;
		max-width: 1159px;
		min-height: 503px;
		margin: 0 auto;
		@media(max-width: 1004.89px){
			flex-direction: column;
			gap: 79px;
		}
	}
}
.block-meet {
	position: relative;

	// .block-meet__images

	&__images {
		min-width: 480px;
		@media(max-width: 1004.89px){
			margin: 0 auto;
			width: 322px;
		}
	}

	// .block-meet__img

	&__img1 {
		width: 347px;
		height: 399px;
		@media(max-width: 1004.89px){
			width: 176px;
			height: 248px;
		}
	}

	&__img2 {
		position: absolute;
		top: 144px;
		left: 199px;
		width: 241px;
		height: 359px;
		@media(max-width: 1004.89px){
			position: relative;
			width: 146px;
			height: 218px;
			top: 95px;
			left: -116px;
		}
	}

	// .block-meet__msg

	&__msg {
	}
}
.msg-meet {
	margin-left: auto;
	max-width: 540px;
	align-self: center;
	@media(max-width: 1004.89px){
		margin: 0 auto;
	}

	// .msg-meet__container

	&__container {
	}

	// .msg-meet__title

	&__title {
		font-family: "Poppins";
		font-size: 40px;
		font-weight: 700;
		line-height: 60px;
		color: rgba(228, 48, 113, 1);
		padding-bottom: 6px;
		@media(max-width: 1004.89px){
			line-height: 48px;
		}
	}

	// .msg-meet__text

	&__text {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 37px;
		color: rgba(66, 66, 66, 1);
		padding-bottom: 30px;
		@media(max-width: 1004.89px){
			line-height: 32px;
		}
	}

	// .msg-meet__button

	&__button {
		width: 237px;
		height: 68px;
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 600;
		line-height: 37px;
		text-align: center;
		border-radius: 38.5px;
		border: 2px solid rgba(228, 48, 113, 1);
		color: rgba(228, 48, 113, 1);
		background-color: rgba(255, 255, 255, 1);
		cursor: pointer;
		&:hover{
			border: 2px solid rgba(190, 40, 94, 1);
			color: rgba(190, 40, 94, 1);
		}
	}
}

.become {

	// .welcome__container

	&__container {
		position: relative;
		max-width: 1440px;
		height: 691px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		z-index: 0;
		@media (max-width: 1004.89px){
			height: 424px;
		}
	}

	// .welcome__title

	&__title {
		display: flex;
		align-self: center;
	}
}
.become-title {
	display: flex;
	align-self: center;
	// .welcome-title__container

	&__container {
		display: flex;
		gap: 8px;
		flex-direction: column;
		padding: 0 31px 0 31px;
	}

	// .welcome-title__text

	&__text {
		font-size: 60px;
		font-weight: 700;
		line-height: 90px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		@media(max-width: 1004.89px){
			font-size: 42.46px;
			font-weight: 700;
			line-height: 46.37px;
		}
	}

	&__text2{
		max-width: 430px;
		margin: 0 auto;
		font-family: "Open Sans";
		font-size: 17px;
		font-weight: 600;
		line-height: 23.15px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		@media(max-width: 1004.89px){
			font-size: 16px;
			font-weight: 600;
			line-height: 21.79px;
		}
	}

	// .welcome-title__button

	&__button {
		margin: 0 auto;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 37px;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		width: 237px;
		height: 68px;
		border-radius: 38.5px;
		background-color: rgba(228, 48, 113, 1);
		cursor: pointer;
		@media(max-width: 1004.89px){
			font-size: 16px;
			font-weight: 600;
			line-height: 37px;
			width: 208px;
			height: 56px;
		}
		&:hover{
			background-color: rgba(190, 40, 94, 1);
		}
	}
}
.slider-become {
	position: absolute;
	width: 1440px;
	height: 691px;
	overflow: hidden;
	z-index: -1;
	@media (max-width: 1004.89px){
		width: 1004.89px;
		height: 424px;
	}
}
.slides-become {
	display: flex;
   transition: transform 0.5s ease-in-out;
   width: calc(1440px * 5);
	@media (max-width: 1004.89px){
		width: calc(1004.89px * 5);
	}
}
.slides-become img {
	width: 1440px;
   height: 691px;
   object-fit: cover;
   flex-shrink: 0;
	@media (max-width: 1004.89px){
		width: 1004.89px;
      height: 424px;
	}
}
.dots-become {
	position: absolute;
   bottom: 29px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 10px;
	z-index: 1;
	align-items: center;
}
.dot-become {
	width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: gray;
   cursor: pointer;
}
.dot-become.active {
	background-color: rgba(228, 48, 113, 1);
	width: 17px;
   height: 17px;
}

.premium {
	width: 100vw;

	// .meet__container

	&__container {
		width: 100%;
		max-width: 1440px;
		padding: 224px 79px 108px 155px;
		margin: 0 auto;
		@media(max-width: 1004.89px){
			padding: 35px 35px 23px 16px;
		}
	}

	// .meet__block

	&__block {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 1206px;
		min-height: 435px;
		margin: 0 auto;
		@media(max-width: 1004.89px){
			flex-direction: column;
			gap: 16px;
		}
	}
}
.block-premium {
	position: relative;

	// .block-meet__images

	&__images {
		position: absolute;
		right: 0px;
		min-height: 435px;
		min-width: 480px;
		@media(max-width: 1004.89px){
			position: relative;
			min-height: 198px;
			margin: 0 auto;
			width: 322px;
		}
	}

	// .block-meet__img

	&__img1 {
		position: absolute;
		width: 444px;
		height: 296px;
		right: 128px;
		z-index: 1;
		@media(max-width: 1004.89px){
			right: 0;
			position: relative;
			width: 202px;
			height: 135px;
		}
	}

	&__img2 {
		position: absolute;
		top: 154px;
		width: 422px;
		height: 281px;
		right: 0;
		z-index: 0;
		@media(max-width: 1004.89px){
			position: relative;
			width: 191px;
			height: 128px;
			top: 70px;
			left: -116px;
		}
	}

	// .block-meet__msg

	&__msg {
	}
}
.msg-premium {
	max-width: 489px;
	align-self: center;
	margin-right: 620px;
	@media(max-width: 1004.89px){
		margin: 0 auto;
	}

	// .msg-meet__container

	&__container {
	}

	// .msg-meet__title

	&__title {
		font-family: "Poppins";
		font-size: 40px;
		font-weight: 700;
		line-height: 60px;
		color: rgba(228, 48, 113, 1);
		padding-bottom: 6px;
		@media(max-width: 1004.89px){
			line-height: 48px;
		}
	}

	// .msg-meet__text

	&__text {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 37px;
		color: rgba(66, 66, 66, 1);
		padding-bottom: 30px;
		@media(max-width: 1004.89px){
			line-height: 32px;
		}
	}

	// .msg-meet__button

	&__button {
		width: 100%;
		max-width: 237px;
		height: 68px;
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 600;
		line-height: 37px;
		text-align: center;
		border-radius: 38.5px;
		border: 2px solid rgba(228, 48, 113, 1);
		color: rgba(228, 48, 113, 1);
		background-color: rgba(255, 255, 255, 1);
		cursor: pointer;
		&:hover{
			border: 2px solid rgba(190, 40, 94, 1);
			color: rgba(190, 40, 94, 1);
		}
	}
}

.stories {
	width: 100vw;

	// .stories__container

	&__container {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto
	}

	// .stories__block

	&__block {
		display: flex;
		flex-direction: column;
		gap: 27px;
		margin: 0 auto;
		padding: 126px 254px 81px 254px;
		@media(max-width: 1333.89px){
			padding: 126px 0px 81px 0px;
			width: 682px;
		}
		@media(max-width: 1004.89px){
			padding: 55px 0 38px 28px;
			width: 100%;
		}
	}

	// .stories__message

	&__message {
	}

	// .stories__cards

	&__cards {
	}
}
.msg {
	margin-right: 290px;
	@media(max-width: 1004.89px){
		margin-right: 0;
	}

	// .msg__title

	&__title {
		font-family: "Poppins";
		font-size: 48px;
		font-weight: 600;
		line-height: 57.22px;
		text-align: left;
		color: rgba(66, 66, 66, 1);
		@media(max-width: 1004.89px){
			font-size: 26.14px;
			line-height: 31.16px;
		}
	}

	// .msg__text

	&__text {
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		text-align: left;
		color: rgba(66, 66, 66, 1);
		@media(max-width: 1004.89px){
			font-size: 9.8px;
			line-height: 14.7px;
		}
	}
}
.cards {
	margin: 0 auto;
	@media(max-width: 1004.89px){
		justify-content: center;
		width: 100vw;
		padding: 10px 0 10px 28px;
		margin: 0 0 0 -28px;
		overflow-y: auto;
	}

	&__block{
		display: flex;
		flex-direction: column;
		gap: 33px;
		@media(max-width: 1004.89px){
			flex-direction: row;
		}
	}

	// .cards__items

	&__items {
		display: flex;
		gap: 33px;
		margin-left: 97px;
		@media(max-width: 1004.89px){
			width: 828.33px;
			margin: 0 auto;
			align-self: center;
		}
	}

	// .cards__item1

	&__item1 {
		display: flex;
		flex-direction: column;
		max-width: 349px;
		min-width: 290px;
		margin-bottom: 68px;
		justify-content: space-around;
		@media(max-width: 1004.89px){
			margin-bottom: 0;
		}
	}

	// .cards__item2

	&__item2 {
		position: relative;
		margin-top: -141px;
		max-width: 449px;
		min-width: 350px;
		@media(max-width: 1004.89px){
			margin-top: 0;
		}
	}

	// .cards__item3

	&__item3 {
		max-width: 351px;
		min-width: 290px;
		@media(max-width: 1359.89px){
			width: 310px;
			margin-right: 10px;
		}
	}
}
.item {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
	padding: 35px 32px 36px 27px;
	@media(max-width: 1004.89px){
		padding: 24.38px 22.29px 25.08px 18.81px;
		min-width: 243.12px;
		max-width: 243.12px;
	}
	// .item__title

	&__title {
		font-family: "Poppins";
		font-size: 38px;
		font-weight: 600;
		line-height: 45.3px;
		text-align: left;
		color: rgba(228, 48, 113, 1);
		padding-bottom: 29px;
		@media(max-width: 1004.89px){
			font-size: 26.47px;
			line-height: 31.55px;
		}
	}

	// .item__text

	&__text {
		position: relative;
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		text-align: left;
		color: rgba(66, 66, 66, 1);
		padding-bottom: 12px;
		padding-left: 37px;
		&::before{
			content: "“";
			position: absolute;
			left: 0px;
			top: -15px;
			font-family: "Times New Roman";
			font-size: 58px;
			font-weight: 700;
			line-height: 66.69px;
			text-align: left;
			color: rgba(248, 197, 215, 1);
			@media(max-width: 1004.89px){
				font-size: 40.4px;
				line-height: 46.46px;
			}
		}
		@media(max-width: 1004.89px){
			font-size: 12.54px;
			font-weight: 400;
			line-height: 22.29px;
			padding-left: 25px;
		}
	}

	// .item__profile

	&__profile {
		display: flex;
		gap: 17px;
		padding-left: 37px;
		@media(max-width: 1004.89px){
			margin-top: auto;
			padding-left: 25px;
		}
	}

	// .item__ava

	&__ava {
		@media(max-width: 1004.89px){
			width: 41.1px;
			height: 39.71px;
		}
	}

	// .item__msg

	&__msg {
		display: flex;
		flex-direction: column;
		@media(max-width: 1004.89px){

		}
	}

	// .item__name

	&__name {
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 600;
		line-height: 34px;
		text-align: left;
		color: rgba(66, 66, 66, 1);
		@media(max-width: 1004.89px){
			font-size: 12.54px;
			line-height: 23.69px;
		}
	}

	// .item__op

	&__op {
		font-family: Poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 0px;
		text-align: left;
		color: rgba(150, 155, 171, 1);
		@media(max-width: 1004.89px){
			font-size: 9.75px;
		}
	}
}
